# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribuição / pacotes
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs e bancos de dados locais
*.log
*.sqlite3

# Virtualenv
venv/
ENV/
env.bak/
venv.bak/

# Editor
.vscode/
.idea/
*.swp
